body{
    background-color: #F3F5FC;
}

.contenedor {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #F3F5FC;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;

    margin: 2.78%; 
    display: flex;
    justify-content: space-between;
}

/* columna logo */
.logo{
   width: 11.11%;
   text-align: center;
}

/* columna principal */
.principal{
    width: 47.22%;
}

.principal #campo-texto{
    margin-top: 128px;
    font-size: 32px;
    color: #0A3871;
    width: 100%;
    border: none;
    height: 643px;
    background-color: #F3F5FC;
    resize: none;
    cursor: pointer;
}

.principal #campo-texto::placeholder{
    color: #0A3871;
}

.principal #campo-texto:focus,
.principal #campo-texto:active{
    border: none;
    outline: none;
}

.acciones #exclamacion{
    color: #D8DFE8;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 90px;
    background-color:#495057;
    float: left;
}

.acciones #restriccion{
    height: 18px;
    color: #495057;
    line-height: 150%;
    font-size: 12px;
    padding-left: 30px;
    margin-bottom: 16px;
}

.acciones .botones{
    display:flex;
    justify-content: space-between;
    flex-flow:row;
}

.boton{
    width: 50%;    
    height: 67px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    gap: 8px;
    cursor:pointer;
}

.boton:hover{
    background-color:#0A3871;
    color: #D8DFE8;
}

.acciones #boton-desencriptar{
    margin-left: 16px;
}

/* columna resultado */
.resultado{
    background-color:#FFF;
    width: 27.78%;
    height: auto;
    border-radius:32px ;
    box-shadow: 3px 4px 15px #666666;
}

.sinmensaje #buscador{
    padding-top: 16.8%;
    margin-left: 10%; 
    margin-top: 20%; 
    width: 80%;
    padding-bottom: 2.22%;
}

.sinmensaje .dosfrases{
    margin-top: 5%;
    border: 2px solid #495057;
    margin-left: 32px;
    margin-right: 32px;
    height: 122px;
    gap: 16px;
}

.dosfrases #noencontrado{
    height: 58px;
    text-align: center;
    color: #343A40;  
    font-size: 24px;
    font-weight: 900;
    line-height: 120%;
    padding-left: 3%;
    text-shadow: #000000 2px 2px 2px;
}

.dosfrases .ingresatexto{
    height: 48px;
    text-align: center;
    color: #495057;
    font-size: 16px;
    line-height: 150%;
    padding-left: 7px;
    padding-top: 0;
    margin-top: 15px;
}

.conmensaje #texto-convertido{
    text-align: left;
    color: #495057;
    font-size: 24px;
    line-height: 150%;
    margin:auto;
    margin-top: 20px;
    width: 90%;
    height: 752px;
    background-color: #FFFFFF;
}

#texto-convertido{
    overflow-wrap: break-word;
    background-color: rgb(7, 20, 20);
}

.copiar{
    margin-top: 40px;
    text-align: center;
}

footer{
    font-size: 12px;
    color: violet;
    text-align: center;
}

/* Responsivo*/

@media (max-width:768px){
    .contenedor{
        display:flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        align-items:center;
        padding: 16px;
        position: relative;
        width: 90%;
        height: 1574px;
        margin-top: 40px;
    }

    .logo{
        width: 100%;
        height: 160px;
        text-align: left;
    }

    .principal{
        width: 100%;
        margin-top: 0;
        padding: 0;
    }

    .principal #campo-texto{
        margin-top: 0;
        height: 522px;
        background-color: #F3F5FC;
        resize: none;
        cursor: pointer;
    }
    .resultado{
        height: auto;
        background-color:#FFF;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 340px;
        border-radius:32px ;
    }

    .sinmensaje #buscador{
        display: none;
    }

    .sinmensaje .dosfrases{
        border:none;
    }

    .dosfrases #noencontrado{
         text-align: center;
        color: #343A40;  
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        padding: 0;
        text-shadow: none;
     }

    .dosfrases .ingresatexto{
        padding: 0;
        text-align: center;
        color: #495057;
        font-size: 16px;
        line-height: 150%;
    }

    .conmensaje{
        height: 380px;
    }
    .conmensaje #texto-convertido{
        text-align: left;
        color: #495057;
        margin:auto;
        margin-top: 20px;
        width: 90%;
        height: 180px;
        background-color: #FFFFFF;
    }
    
    #texto-convertido{
        overflow-wrap: break-word;
        background-color: rgb(7, 20, 20);
    }
}

@media (max-width:385px){
    .contenedor{
        display:flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        align-items:center;
        padding: 16px;
        position: relative;
        width: 90%;
        height: 1574px;
        margin-top: 40px;
    }

    .logo{
        width: 100%;
        height: 160px;
        text-align: left;
    }

    .principal{
        width: 100%;
        margin-top: 0;
        padding: 0;
    }

    .principal #campo-texto{
        margin-top: 0;
        height: 522px;
        background-color: #F3F5FC;
        resize: none;
        cursor: pointer;
    }
    
    .acciones .botones{
        display:flex;
        flex-flow:row wrap;
    }
    
    .boton{
        width: 100%;    
        height: 67px;
        background-color: #D8DFE8;
        border: 1px solid #0A3871;
        box-sizing: border-box;
        color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        gap: 8px;
        cursor:pointer;
    }
    
    .acciones #boton-desencriptar{
        margin-left: 0;
    }
    
    .resultado{
        height: auto;
        background-color:#FFF;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 340px;
        border-radius:32px ;
    }

    .sinmensaje #buscador{
        display: none;
    }

    .sinmensaje .dosfrases{
        border:none;
    }

    .dosfrases #noencontrado{
        text-align: center;
        color: #343A40;  
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        padding: 0;
        text-shadow: none;
     }

    .dosfrases .ingresatexto{
        padding: 0;
        text-align: center;
        color: #495057;
        font-size: 16px;
        line-height: 150%;
    }

    .conmensaje{
        height: 380px;
    }
    .conmensaje #texto-convertido{
        text-align: left;
        color: #495057;
        margin:auto;
        margin-top: 20px;
        width: 90%;
        height: 180px;
        background-color: #FFFFFF;
    }
    
    #texto-convertido{
        overflow-wrap: break-word;
        background-color: rgb(7, 20, 20);
    }
}
